#chatBox {
    text-align: left;
    margin-bottom: 5px;
    padding: 10px;
    height: 170px;
    width: 40%;
    margin-right: 50%;
    min-height: 500px;
    float: left;
    border-style: ridge;
    border-color: #777c80;
    overflow: auto;
}

#msg {
    width:37%;
    border-style: ridge;
    border-color: #777c80;
}

#submit{
    width: 60px;
}