#chatBox {
    text-align: left;
    margin-bottom: 5px;
    padding: 10px;
    height: 270px;
    width: 37%;
    margin-right: 50%;
    float: left;
    border-style: ridge;
    border-color: #777c80;
    overflow: auto;
}

#msg {
    width:395px;
    border-style: ridge;
    border-color: #777c80;
}

#submit{
    width: 60px;
}