body{
    background-color: green;
    margin: 0;
    padding: 0;

}
#wrapper{
    background-color: blue;
    height: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right:auto;

}
#banner{
    float: left;
    max-height: 90%;
    min-height: 100px;
    min-width: 100%;
}
#banner img{
    max-width: 100%;
    max-height: 100%;
    min-width: 25%;
    margin: auto;
    float: left;
}

#nav{
    font-size: 16px;
    float: right;
    width: 100%;

}
#nav ul{
    background-color: crimson;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    font-size: 130%;
}
#nav li{
    float: left;
}
#nav li a {
    display: block;
    color: aqua;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
#nav li a:hover{
    background-color: yellow;
}