body{
    background-color: rgba(18, 18, 18, 1);
    margin: 0;
    padding: 0;
    margin-top: -1.2%;;

}
#wrapper{
    background-color: rgba(18, 18, 18, 1);
    height: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right:auto;

}
#banner{
    background-color: rgb(8, 8, 8);
    box-shadow: 1px 1px 1px #e7dfc6;
    float: left;
    max-width:10%;
    max-height: 33px;
}
#banner img{
max-width: 100%;
max-height: 100%;

}

#nav{

font-size: 16px;
float: right;
width: 100%;


}
#nav ul{
box-shadow: 1px 1px 1px #e7dfc6;
background-color: rgb(8, 8, 8);
list-style-type: none;
    margin-bottom: 10px;
    margin-top: 0;
overflow: hidden;
display: flex;
justify-content: space-around;

font-size: 131%;
}
#nav li{
    float: left;
    margin: auto;
    padding-right: 4%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4%;
}
#nav li:hover {
    float: left;
    margin: auto;
    background-color: #E9F1F7;
}
#nav li a {
display: block;
color: #2274A5;
text-decoration: none;
text-align: center;
}
#nav li a:hover{
background-color: #E9F1F7;
}
#nav li a .active{
    background-color: #E9F1F7
}

#content{
    /*background-color: green; this was just for visibility kfl */
    width: 90%;
    float: right;
    height: auto;
    margin-top: -1%;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100px;
    padding-top: 1%;
    color: #1D74A5 ;
}
.active{
    background-color: #E9F1F7;
}
#full_spacer{
    width:100%;
    float:right;
    height: 2%;
}

#photo_view{
    line-height: 0;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;

}

#photo_view img{
    width: 100% !important;
    height: auto !important;
}
#upload_form_div{
    margin-bottom: 1%;
}
#upload_table{
    border-style: ridge;
    border-color: #777c80;
}

#home_container{
    width: 100%;
    height: auto;
    display: inline-flex;
}
#chat_container{
    width: 50%;
    height: auto;
    margin-right: -2%;
    margin-top: 5%;

}
#content_container{
    width: 100%;
    height: auto;
}

#fullholder{
    width: auto;
    float: left;
    background-color: green;
}

#userImg{
    -webkit-transition: prop 0.5s;
    -moz-transition: prop 0.5s;
    -ms-transition: prop 0.5s;
    -o-transition: prop 0.5s;
    transition: prop 0.5s;
}
#userImg:hover{
    zoom: 5%;
}
.myImageHolder{
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
    position: absolute;
    padding-top: 10%;
    overflow: auto;
    z-index: 100;


}
.myImageHolderImage{
    marigin:auto;
    display: block;
    width: 80%;
    max-width: 50%;
}
#myImageData{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 50%;
    text-align: left;
    padding: 10px 0;
    height: 200px;
}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;

}

/* --------------media----------------- */

@media (max-width: 1200px) {
    #photo_view {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photo_view {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photo_view {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photo_view {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}
