body{
    background-color: rgba(18, 18, 18, 1);
    margin: 0;
    padding: 0;

}
#wrapper{
    background-color: rgba(18, 18, 18, 1);
    height: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right:auto;

}
#banner{
    background-color: rgb(8, 8, 8);
    box-shadow: 1px 1px 1px #e7dfc6;
    float: left;
    /* max-height: 50px; */
    min-height: 10px;
    min-width: 100%;
    margin-left: -10%;
    border: 0;
    padding-left: 10%;
    padding-bottom: 1px;
}
#banner img{
max-width: 20%;
max-height: 10%;
min-width: 5%;
margin: auto;
float: none;
display: flex;
}

#nav{

font-size: 16px;
float: right;
width: 100%;

}
#nav ul{
box-shadow: 1px 1px 1px #e7dfc6;
background-color: rgb(8, 8, 8);
list-style-type: none;
    margin-bottom: 10px;
    margin-top: 0;
overflow: hidden;
display: flex;
justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
font-size: 131%;
}
#nav li{
    float: left;
    margin: auto;
    padding-right: 4%;
    padding-left: 4%;
}
#nav li:hover {
    float: left;
    margin: auto;
    background-color: #E9F1F7;
}
#nav li a {
display: block;
color: #2274A5;
text-decoration: none;
text-align: center;
}
#nav li a:hover{
background-color: #E9F1F7;
}
#nav li a .active{
    background-color: #E9F1F7
}